# Anything that was built.
**/build/
**/out

# Gradle
.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vim
*.swp
*.swn
*.swo

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
